---
import Layout from '../layouts/main.astro';
import DynamicTopsSelector from '../components/DynamicTopsSelector';
---

<Layout content={{ title: 'Explorador - Cubusfera', description: 'Explora estadísticas detalladas y rankings personalizados de nuestro servidor de Minecraft. Analiza datos específicos de bloques, items, mobs y más.' }}>
  <section class="py-20">
    <div class="container mx-auto px-4">
      <DynamicTopsSelector client:load />
    </div>
  </section>
</Layout>
