---
export interface BreadcrumbItem {
  label: string;
  href?: string;
  nonClickable?: boolean; // Para elementos que no son clicables pero tampoco son el último
}

export interface Props {
  items: BreadcrumbItem[];
}

const { items } = Astro.props;
---

<div class="border-b bg-gray-50 dark:bg-[#1b3124] border-gray-200 dark:border-[#366348]">
  <div class="container px-4 py-3 mx-auto">
    <nav class="flex items-center space-x-2 text-sm text-gray-600 dark:text-[#96c5a9]">
      {items.map((item, index) => (
        <>
          {item.href ? (
            <a href={item.href} class="hover:text-green-600 dark:hover:text-[#38e07b] transition-colors">
              {item.label}
            </a>
          ) : item.nonClickable ? (
            <span class="text-gray-500 dark:text-[#96c5a9]/60">{item.label}</span>
          ) : (
            <span class="text-gray-900 dark:text-white">{item.label}</span>
          )}
          {index < items.length - 1 && <span>/</span>}
        </>
      ))}
    </nav>
  </div>
</div>